name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Get Dox2Hub
      uses: actions/checkout@v2
      with:
        repository: transpect/docx2hub-frontend
        submodules: true
        path: docx2hub
    - name: Move docx2hub
      run: |
        mv docx2hub /opt
        chmod +x /opt/docx2hub/docx2hub.sh
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '8'
    - name: Restore dependencies
      run: dotnet restore ./Docx2HubSvc.sln
    - name: Build
      run: dotnet build ./Docx2HubSvc.sln --configuration Release --no-restore
    - name: Test
      run: dotnet test ./Docx2HubSvc.sln
