name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore ./Docx2HubSvc.sln
    - name: Build
      run: dotnet build ./Docx2HubSvc.sln --configuration Release --no-restore
    - name: Test
      run: dotnet test ./test/Docx2HubSvcTest/Docx2HubSvcTest.csproj --no-build --verbosity normal
